<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>Localizedresources can be mixed</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>com.myapp.common-data</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.word.doc</string>
				<string>com.microsoft.excel.xls</string>
				<string>com.microsoft.powerpoint.ppt</string>
				<string>com.adobe.pdf</string>
				<string>public.item</string>
				<string>public.image</string>
				<string>public.content</string>
				<string>public.composite-content</string>
				<string>public.archive</string>
				<string>public.audio</string>
				<string>public.movie</string>
				<string>public.text</string>
				<string>public.data</string>
				<string>public.heic</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
			<key>parkingOne</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>parkingOne</string>
				</array>
			</dict>
			<key>parkingWang</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>parkingWang</string>
				</array>
			</dict>
			<key>天天特价</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>天天特价</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>h5支付正式</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx.parkingwang.com</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>alipayShare</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ap2021001188683352</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>202304131224</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>itms-apps</string>
		<string>iosamap</string>
		<string>baidumap</string>
		<string>alipay</string>
		<string>weixin</string>
		<string>wechat</string>
		<string>sinaweibohd</string>
		<string>sinaweibo</string>
		<string>sinaweibosso</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string>weixinULAPI</string>
		<string>alipayshare</string>
		<string>alipays</string>
		<string>tbopen</string>
		<string>weixin</string>
		<string>weixinULAPI</string>
		<string>weixinURLParamsAPI</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>App需要在上传头像图片服务中访问您的相机权限</string>
	<key>NSCameraUsageDescription</key>
	<string>App需要在上传头像图片服务中访问您的相机权限</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>App需要您的地理位置,为您提供周边服务信息</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>App需要您的地理位置,为您提供周边服务信息</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>App需要您的地理位置,为您提供周边服务信息</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>App需要在评价语音留言中访问麦克风功能</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>App需要在上传头像图片服务中访问您的相册权限</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App需要在上传头像图片服务中访问您的相册权限</string>
	<key>UIBackgroundModes</key>
	<array/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
